/* .box{
    row-gap: 3em;
} */

.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* align-items: center; */
    margin-left: 5vw;
    width: auto; /* Or specify a width if you want to limit its size */
    height: auto;
    padding: 1em;
    row-gap: 3em;
}

.dashboardContainer .dashboardLeft, .dashboardTopic {
    align-self: center; /* Forces these items to align to the left */
    background-color: rgb(199, 197, 197);
    margin-right: 1em;
    width: 35%;
    height: auto;
    padding: 1em;
    border-radius: 20px;
}
.dashboardTopic, .dashboardRight {
    align-self: center; /* Forces these items to align to the left */
}

.dashboardLeftValue, .dashboardRightValue {
    font-size: 1.5em;
    /* font-weight: bold; */
    background-color: rgb(197, 197, 197);
    text-align: left;
    font-weight: bold;
}

.dashboardButton {
    background-color: #96db8d;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    padding: 1em;
    font-weight: bold;
}
.dashboardButton:hover {
    background-color: #73b46f;
}

.dashboardTitle {
    font-size: 1.5em;
    /* font-weight: bold; */
    /* margin-bottom: 1em; */
}